@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-radial-space text-white font-fredoka overflow-x-hidden min-h-screen m-0;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px #4b9fff, 0 0 20px #4b9fff, 0 0 30px #4b9fff;
  }
  .input-glow:focus {
    box-shadow: 0 0 15px rgba(131, 103, 240, 0.4);
  }
  .avatar-selected-glow {
    box-shadow: 0 0 15px rgba(131, 103, 240, 0.5);
  }
  .btn-shadow {
    box-shadow: 0 10px 20px rgba(68, 182, 47, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.4);
  }
  .btn-shadow:hover {
    box-shadow: 0 12px 25px rgba(68, 182, 47, 0.4), inset 0 2px 0 rgba(255, 255, 255, 0.4);
  }
  .btn-shadow:active {
    box-shadow: 0 5px 10px rgba(68, 182, 47, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.4);
  }
  
  /* We use screen blend mode to drop the black background on the new planet */
  .blend-screen {
    mix-blend-mode: screen;
  }
}
